---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Base from "../../layouts/Base.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf(),
);
---

<style>
  ul li {
    width: calc(50% - 1rem);
  }
  ul li * {
    transition: 0.2s ease;
  }
  ul li a:hover h4,
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
  }
</style>

<Base title="AucaCoyan's blog" description="AucaCoyan's blog">
  <main class="mx-auto w-[960px]">
    <section>
      <ul class="flex flex-wrap gap-8 list-none">
        {
          posts.map((post) => (
            <li class="">
              <a href={`/blog/${post.slug}/`} class="no-underline">
                <Image
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                  class="mb-2 rounded-xl"
                />
                <h4 class="text-xl font-bold text-center">{post.data.title}</h4>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Base>
