@import "tailwindcss";

.code-word-wrap {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

/* debugging green border */ 

/* 
* {
  box-sizing: border-box;
  outline: 1px solid limegreen !important;
}
*/
