---
import Biography from "../components/Biography.astro";
import Posts from "../components/Posts.astro";
import Contact from "../components/Contact.astro";
import Base from "../layouts/Base.astro";
---

<Base>
  <main class="max-w-6xl mx-auto">
    <Biography />
    <!-- empty -->
    <div class="py-10"></div>
    <Posts />
    <!-- empty -->
    <div class="py-5"></div>
    <Contact />
  </main>
</Base>
