---
import SectionTitle from "./SectionTitle.astro";
---

<section>
  <SectionTitle title="Contact" subtitle="How to reach me" />
  <p class="pt-4 text-lg text-center">
    You can feel free to ask for help, questions or just want to say hi or
    thanks!
  </p>
  <div class="flex flex-col justify-around md:flex-row">
    <a href="https://github.com/AucaCoyan" class="mx-auto md:m-0">
      <div
        class="px-10 py-2 mx-3 mt-5 text-xl text-left rounded-full cursor-pointer max-w-fit bg-neutral-400 dark:bg-neutral-900 dark:hover:bg-neutral-700 text-slate-200 hover:bg-neutral-700 hover:text-slate-100 hover:underline"
      >
        My GitHub
      </div>
    </a>
    <a href="mailto:aucacoyan@gmail.com" class="mx-auto md:m-0">
      <div
        class="self-center px-10 py-2 mx-3 mt-5 text-xl text-center rounded-full cursor-pointer max-w-fit bg-neutral-400 dark:bg-neutral-900 dark:hover:bg-neutral-700 text-slate-200 hover:bg-neutral-700 hover:text-slate-100 hover:underline"
      >
        Send me an email!
      </div>
    </a>
    <a
      href="https://www.linkedin.com/in/auca-coyan-maillot/"
      class="mx-auto md:m-0"
    >
      <div
        class="px-10 py-2 mx-3 mt-5 text-xl text-left rounded-full cursor-pointer max-w-fit bg-neutral-400 dark:bg-neutral-900 dark:hover:bg-neutral-700 text-slate-200 hover:bg-neutral-700 hover:text-slate-100 hover:underline"
      >
        My LinkedIn
      </div>
    </a>
  </div>
</section>
