---
const today = new Date();
---

<footer>
  <!-- Blank space -->
  <div class="py-10"></div>
  <!-- Flex container -->
  <div
    class="bottom-0 flex border-t-2 border-gray-[#121212] flex-col md:flex-row items-center py-10 px-6 justify-between"
  >
    <!-- Left or Top items -->
    <div
      class="flex items-c cursor-pointer md:ml-24 mb-4 md:mb-0 font-semibold"
    >
      &copy;
      {today.getFullYear()}
      Auca Coyan®. All rights reserved.
    </div>
    {/* Right or Bottom items */}
    <div class="flex justify-around px-10 pr-12">
      <ul class="flex md:pl-10">
        <li class="px-2">
          <a href="https://github.com/AucaCoyan">Github</a>
        </li>
        <li class="px-2">
          <a href="https://www.linkedin.com/in/auca-coyan-maillot/">
            LinkedIn
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
