---
const today = new Date();
---

<footer>
  <!-- Blank space -->
  <div class="py-10"></div>
  <!-- Flex container -->
  <div
    class="bottom-0 flex border-t-2 border-gray-[#121212] items-center py-10 px-6 justify-between"
  >
    <!-- Left items -->
    <div class="flex items-c cursor-pointer ml-24 font-semibold">
      &copy;
      {today.getFullYear()}
      Auca Coyan®. All rights reserved.
    </div>
    {/* Right items */}
    <div class="flex justify-around px-10 pr-12">
      <ul class="flex pl-10">
        <li class="px-2">
          <a href="https://github.com/AucaCoyan">Github</a>
        </li>
        <li class="px-2">
          <a href="https://www.linkedin.com/in/auca-coyan-maillot/">
            LinkedIn
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
