---
import SectionTitle from "./SectionTitle.astro";
---

<section>
  <SectionTitle title="Blog" subtitle="My articles" />
</section>
<a href="/blog">
  <div
    class="p-16 mx-3 mt-5 text-3xl text-center rounded-full cursor-pointer bg-neutral-400 dark:bg-neutral-900 dark:hover:bg-neutral-700 text-slate-200 hover:bg-neutral-700 hover:text-slate-100 hover:underline"
  >
    Do you want to read my articles? 👉click here👈
  </div></a
>
