---
import SectionTitle from "./SectionTitle.astro";
---

<section>
  <SectionTitle title="Blog" subtitle="My articles" />
</section>
<a href="/blog">
  <div
    class="p-10 text-2xl text-center cursor-pointer md:mx-6 md:mt-5 md:text-3xl md:rounded-full bg-neutral-400 dark:bg-neutral-900 dark:hover:bg-neutral-700 text-slate-200 hover:bg-neutral-700 hover:text-slate-100 hover:underline"
  >
    Do you want to read my articles?<br />👉click here👈
  </div></a
>
